.main-wrapper {
	margin: 0 auto;
	width: 1000px;
}

body {
	background-color: #ccc;
}

header nav {
	width: 100px;
	height: 60px;
	background-color: #fff;s
	
}
header nav ul {
	float: left;
	
}
header nav ul li{
	float: left;
	list-style: none;
}
header nav ul li a{
	font: arial, 16px, #111;
	line-height: 63px;
}
