.main-wrapper {
	margin: 0 auto;
 	width: 1000px;
}

a {
	text-decoration: none;
}

body {
	background-color: #ccc;
}

header nav {
	width: 100%;
	height: 60px;
	background-color: #fff;
}
header nav ul {
	float: left;
}
header nav ul li{
	float: left;
	list-style: none;
}
header nav ul li a{
	font-family: sans-serif;
	font-size: 16px;
	color: #111;
	line-height: 63px;
}
header .nav-login {
	float:right;
}
header .nav-login form {
        float:left;
	padding-top: 15px;
}
header .nav-login form input{
        float:left;
       	width: 140px;
	height: 30px;
	padding: 0px 10px;
	margin-rigth: 10px; 
	border: none;
	background-color: #ccc;
        font-family: sans-serif;
	font-size: 14px;
	color: #111;
	line-height: 30px;
}
header .nav-login form button{
        float:left;
        width: 60px;
        height: 30px;
        margin-rigth: 10px; 
        border: none;
        background-color: #f3f3f3;
        font-family: sans-serif;
        font-size: 14px;
        color: #111;
        cursor: pointer;
}

header .nav-login form button:hover{
        background-color:#ccc;
	color: f3f3f3;  
}

header .nav-login a{
	display: block;
	width: 80px;
	height: 15px;
	border: none;
	float: left;
	background-color: #fff; 
        font-family: sans-serif;
        font-size: 16px;
        color: #111;
        line-height: 63px;
	cursor: pointer;
}

.main-container {
	padding:40px;
}

.main-container h2 {
        padding-top: 40px;
	font-family :sans-serif;
	font-size: 40px;
	color: #111;
	line-height: 63px;
	text-align: center;
}

/*sigup.php*/

.signup-form {
	width: 600px;
	margin: 0 auto;
	padding-top: 30px;
	
}

.signup-form input {
        width: 90%;
        height: 40px;
        padding: 0px 5%;
	margin-buttom: 4px; 
        border: none;
        background-color: #fff;
        font-family: sans-serif;
        font-size: 16px;
        color: #111;
        line-height: 40px;
}
.signup-form buttom {
        display: block;
        width: 30%;
        height: 40px;
        border: none;
        background-color: #f3f3f3;
        font-family: sans-serif;
        font-size: 16px;
        color: #111;
        cursor: pointer; 
}
.signup-form buttom:hover{
        background-color: #111;
	color: #f3f3f3;
}

