.main-wrapper {
	margin: 0 auto;
	width: 1000px;
}

a {
	text-decoration: none;
}

body {
	background-color: #ccc;
}

header nav {
	width: 100px;
	height: 60px;
	background-color: #fff;
	text-decoration: none;	
}
header nav ul {
	float: left;
		
}
header nav ul li{
	float: left;
	list-style: none;
	
}
header nav ul li a{
	font-family: sans-serif;
	font-size: 16px;
	color: #111;
	line-height: 63px;
}
header .nav-login {
	float:right;
}
header .nav-login form {
        float:left;
	padding-top: 15px;
}

header .nav-login form input{
        float:left;
       	width: 140px;
	height: 30px;
	padding: 0px 10px;
	margin-rigth: 10px; 
	border: none;
	background-color: #ccc;
        font-family: sans-serif;
	font-size: 14px;
	color: #111;
	line-height: 30px;
}
